<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:replace="main/public :: #publicHead">
</head>
<body>
<!--头部-->
<header class="publicHeader" th:replace="main/public :: .publicHeader">

</header>
<!--时间-->
<section class="publicTime" th:replace="main/public :: .publicTime">

</section>
<!--主体内容-->
<section class="publicMian ">
    <div class="left" th:replace="main/public :: .left(menuSelect = 'manage')">

    </div>
    <div class="right">
        <div class="location">
            <strong>你现在所在的位置是:</strong>
            <span>图书管理页面 >> 新增图书</span>
        </div>
        <div class="providerAdd">
            <form id="addForm" th:action="@{/teacher/book/add}" th:method="post">
                <div>
                    <span><strong>书籍编号：</strong></span>
                    <input type="text" id="sBookId" name="sBookId" autofocus/>
                    <span id="sBookIdTxt">*不为空</span>
                </div>
                <div>
                    <span><strong>书&emsp;&emsp;名：</strong></span>
                    <input type="text" id="sBookName" name="sBookName"/>
                    <span id="sBookNameTxt">*不为空</span>
                </div>
                <div>
                    <span><strong>作&emsp;&emsp;者：</strong></span>
                    <input type="text" id="sBookAuthor" name="sBookAuthor"/>
                    <span id="sBookAuthorTxt">*不为空</span>
                </div>
                <div>
                    <span><strong>出版社：&emsp;</strong></span>
                    <input type="text" id="sBookPub" name="sBookPub"/>
                    <span id="sBookPubTxt">*不为空</span>
                </div>
                <div>
                    <span><strong>书籍类别：</strong></span>
                    <select name="sBookSort" id="sBookSort"></select>
                    <span id="sBookSortTxt">*不为空</span>
                </div>
                <div class="providerAddBtn">
                    <!--<a href="#">保存</a>-->
                    <!--<a href="providerList.html">返回</a>-->
                    <input type="button" value="确认" onclick="save();"/>
                    <input type="button" value="取消" onclick="history.back(-1)"/>
                </div>
            </form>
        </div>

    </div>
</section>
<footer class="footer" th:replace="main/public :: .footer">

</footer>
<script th:src="@{/webjars/jquery/3.4.1/jquery.js}"></script>
<script th:src="@{/js/time.js}"></script>
<span th:include="main/baseurl :: html"></span>
<script type="text/javascript" th:inline="javascript">
    $(function(){
        var BOOK_SORT_URL = getBaseUrl()+'/booksort';
        bootPage = function(){
            registerEvent();
        };

        registerEvent = function(){
            $('#sBookName').blur(function(){
                if($("#sBookName").val().trim().length > 0){
                    $('#sBookNameTxt').css('color','#faca0d');
                }
            });
            $('#sBookPub').blur(function(){
                if($("#sBookPub").val().trim().length > 0){
                    $('#sBookPubTxt').css('color','#faca0d');
                }
            });
            $('#sBookAuthor').blur(function(){
                if($("#sBookAuthor").val().trim().length > 0){
                    $('#sBookAuthorTxt').css('color','#faca0d');
                }
            });
            $('#sBookSort').blur(function(){
                if($("#sBookSort").val().trim().length > 0){
                    $('#sBookSortTxt').css('color','#faca0d');
                }
            });
            $('#sBookId').blur(function(){
                if($("#sBookId").val().trim().length == 0){
                    $('#sBookIdTxt').css('color','red');
                    return
                }
                $.ajax({
                    url: getBaseUrl()+'/book/'+$('#sBookId').val().trim(),
                    type: 'get',
                    success: function(result){
                        if(!!result){
                            $('#sBookIdTxt').replaceWith('<span id="sBookIdTxt" style="color:red">*书籍编号已使用</span>')
                            return
                        }else{
                            $('#sBookIdTxt').replaceWith('<span id="sBookIdTxt">*不为空</span>');
                        }
                    }
                });
            });
            $.ajax({
                url: BOOK_SORT_URL,
                type: 'get',
                success: function(result){
                    if(result && result.length >= 0){
                        $('#sBookSort').append("<option value=''>书籍分类</option>");
                        result.forEach(function(val,ind){
                            $('#sBookSort').append("<option value='"+val["sSortId"]+"'>"+val["sSortName"]+"</option>");
                        });
                    }
                }
            });
        },
        save = function(){
            if($('#sBookName').val().trim().length == 0){
                $('#sBookNameTxt').css('color','red');
                return
            }
            if($('#sBookPub').val().trim().length == 0){
                $('#sBookPubTxt').css('color','red');
                return
            }
            if($('#sBookAuthor').val().trim().length == 0){
                $('#sBookAuthorTxt').css('color','red');
                return
            }
            if($('#sBookSort').val().trim().length == 0){
                $('#sBookSortTxt').css('color','red');
                return
            }
            $('#addForm').submit();
        };
        bootPage();
    });
</script>
</body>
</html>